
<html>
    <head>
        <title>Waypoint Selector</title>
        <style>
            body {
                padding-top: 10px;
                padding-bottom: 5px;
            }

            canvas {
                display: block;
                background: #eee;
            }

            div {
                overflow-x: hidden;
            }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="http://faviconist.com/icons/a4da5758b016ca4b8c17d78c77729759/favicon.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone&#45;min.js"/></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore&#45;min.js"/></script> -->
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/two.js/0.4.0/two.clean.min.js"></script> -->
    </head>

    <body>
        <div class="row text-center">
            <h1>Waypoint Selector</h1>
            <canvas id="canvas"></canvas> <br/>
            <input class="btn btn-default" type="button"
                value="Submit" id="submit">
        </div>
        <script>
            (function () {
                var canvas = document.getElementById("canvas");
                var context = canvas.getContext('2d');
                var update_interval = 0.5 * 1000; // ms
                var waypoints = new Array();
                var grid = null;
                var need_to_clear = false;

                function getMousePos(canvas, evt) {
                    var rect = canvas.getBoundingClientRect();
                    return {
                        x: evt.clientX - rect.left,
                        y: evt.clientY - rect.top
                    };
                }

                function drawGrid() {
                context.fillStyle = "black";
                    for (var i = 0; i < grid.width; i++) {
                        for (var j = 0; j < grid.height; j++) {
                            if (grid.data[j][i] > 0) {
                                drawPixel(i, grid.height - j);
                            }
                        }
                    }
                }

                function drawPixel(x, y) {
                    context.fillRect(x, y, 1, 1);
                }

                function drawPathPixel(x, y) {
                    context.fillStyle = "red";
                    context.fillRect(x - 1, y - 1, 2, 2);
                }

                function drawCircle(x, y, radius) {
                    context.beginPath();
                    context.arc(x, y, radius, 0, 2 * Math.PI, false);
                    context.fillStyle = 'green';
                    context.fill();
                    context.lineWidth = 5;
                    context.strokeStyle = '#003300';
                    context.stroke();
                }

                $("#submit").click(function() {
                    drawGrid();
                    $.ajax({
                        type: "POST",
                        url: "/waypoints",
                        data: {waypoints: JSON.stringify(waypoints)},
                        success: function() {
                            setTimeout(function () {
                                $.getJSON("/tour", function(data) {
                                    for (var i = 0; i < data.length; i++) {
                                        drawPathPixel(data[i].x,
                                            grid.height - data[i].y);
                                    }
                                });
                            }, 1000);
                        }
                    });
                    waypoints = new Array();
                    need_to_clear = true;
                });

                canvas.addEventListener("mouseup", function(evt) {
                    if (need_to_clear) {
                        context.clearRect(0, 0, canvas.width,
                            canvas.height);
                        drawGrid();
                        need_to_clear = false;
                    }

                    var mousePos = getMousePos(canvas, evt);
                    waypoints.push({x: mousePos.x,
                        y: grid.height - mousePos.y});
                    context.font = "24px serif";
                    context.fillStyle = 'black';
                    context.fillText(waypoints.length,
                        mousePos.x + 4, mousePos.y - 4);
                    context.lineWidth = 0.3;
                    context.strokeStyle = 'white';
                    context.strokeText(waypoints.length,
                        mousePos.x + 4, mousePos.y - 4);
                    drawCircle(mousePos.x, mousePos.y, 2);
                }, false);

                $.getJSON("/grid", function(in_grid) {
                    grid = in_grid;
                    canvas.width = grid["width"];
                    canvas.height = grid["height"];
                    drawGrid();

                    window.setInterval(function () {
                        $.getJSON("/updates", function(updates) {
                            // todo 
                        });
                    }, update_interval);
                });
            })();
        </script>
    </body>
</html>
