
<html>
    <head>
        <style>
            * { margin:0; padding:0; }
            html, body { width:100%; height:100%; }
            canvas { display:block; }
            canvas { background: #eee; }
        </style>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="http://faviconist.com/icons/a4da5758b016ca4b8c17d78c77729759/favicon.ico"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://bootswatch.com/superhero/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
        </script>
    </head>

    <body>
        <canvas id="canvas"></canvas>
        <!-- <script src="/src/js/waypoint_selector.js"></script> -->
        <script>
            (function () {
                var canvas = document.getElementById("canvas");
                context = canvas.getContext('2d');

                // resize the canvas to fill browser window dynamically
                window.addEventListener('resize', resizeCanvas, false);

                function resizeCanvas() {
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;
                    drawStuff();
                }

                resizeCanvas();

                function drawStuff() {

                }
            })();
        </script>
    </body>
</html>
